/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log
.medusa-copy
/.idea
static
coverage

.medusa

!src/**

./tsconfig.tsbuildinfo
# package-lock.json
yarn.lock
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Firebase Service Account credentials
config/firebase-service-account.json
config/firebase-json-oneline.txt
**/firebase-service-account.json
**/*-firebase-adminsdk-*.json
*.json
!package.json
!tsconfig.json
!tsconfig.*.json